html {
    background-image: url("Images/main_bg.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
body {
	width: 80%;
	max-width: 1024px;
	margin: 0 auto;
    background-color:rgba(250, 250, 250, 0.9);
    font-size: 62.5%;
    font-family: Palatino;
}


header,
main,
footer {
	
	font-size: 1.6em;
}

header {
	padding: 1.875em 0;
}

header h1 {
    text-align: center;
    color: rgb(53, 53, 53);
    font-family: 'Pinyon Script', cursive;
    font-size: largest


}

h1, h2, h3 {
	margin: 0;
}

h1 {
	font-size: 2.5em;
}

main h2, main h3 {
	padding: 0.625em 0 0 0.625em;
}

section {
	margin: 0.5em 0;
}

section:first-child {
	margin-top: 0;
}

section:last-child {
	margin-bottom: 0;
}

.quotes {
    font-style: italic;
    padding: 0 0.5em;
    margin: 0 3em;
    text-align: justify;
    border-left: 1px rgb(110, 110, 110) solid
}

a {
    color: brown;
    text-decoration: none;
  }

p {
	padding: 0 1em ;
}

figure {
	margin: 0;
	padding: 0;
    text-align: center;
     
    
}

figcaption {
    font-style: italic;
    font-size: smaller;
    margin: 0 3em 1em 3em
}

footer {
	text-align: center;
	padding: 3em;
}

footer p {
	display: inline-block;
}

img {
    height: 30vw;
    padding: 0 0.2em;
    
    
}

#author {
    font-style: italic;
    font-size: small;
    text-align: center;
    margin: 1em 0
}

#social img{
    max-height : 1.5em;
    margin-top: 1em;
}